{% extends 'base1.html' %}
{% load static %}
{% block 'main' %}

<div class="row text-center"><!--row 6 starts-->
    <div class="col-md-3">
      <img src="{% static 'asset/images/accessories/a1.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">Shinay Hand Bag <br>
        Rs. 2999 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">3</i></p>
    </div>
    <div class="col-md-3">
      <img src="{% static 'asset/images/accessories/a2.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">Brand New Necklace<br>
        Rs. 4500 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">3</i></p>
    </div>
    <div class="col-md-3">
      <img src="{% static 'asset/images/accessories/a3.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">Diamond Necklace <br>
        Rs. 5500 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">3</i></p>
    </div>
    <div class="col-md-3">
      <img src="{% static 'asset/images/accessories/a4.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">Highly Design Watch <br>
        Rs. 3000 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">3</i></p>
    </div>
  </div><!--row 6 ends--> <br>
  <div class="row text-center"><!--row 7 starts-->
    <div class="col-md-3">
      <img src="{% static 'asset/images/accessories/a5.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">Bag with cool sun glassess <br>
        Rs. 4500 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">3</i></p>
    </div>
    <div class="col-md-3">
      <img src="{% static 'asset/images/accessories/a6.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">zumkas <br>
        Rs. 1499 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">3</i></p>
    </div>
    <div class="col-md-3">
      <img src="{% static 'asset/images/accessories/a7.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">All in one set <br>
        Rs. 9999 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">3</i></p>
    </div>
    <div class="col-md-3">
      <img src="{% static 'asset/images/accessories/a8.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">Premium Necklace <br>
        Rs. 11999 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">3</i></p>
    </div>
  </div><!--row 7 ends-->

{% endblock 'main' %}