{% load static %}
<br><br><br><br>
  <div class="row bg-success bg-opacity-50"><!--row 8 starts-->
    <div class="col-md-5 ">
      <img src="{% static 'asset/images/Untitled.png' %}" width="100%" class="img-fluid pt-3" alt="...">
    </div>
    <div class="col-md-7">
          <p class="text-success-emphasis display-1 p-3">Exclusive Offer</p>
          <p class="text-success-emphasis p-3">Unlock the ultimate style upgrade with our exclusive offer Enjoy savings of up to 40% off on our latest New Arrivals</p>
          <div class="col-md-12">
            <p class="one"><b>06</b> <br> <b>Days</b></p>
            <p class="one"><b>18</b> <br> <b>Hours</b></p>
            <p class="one"><b>48</b> <br><b>Min</b></p>
            <br><br>
            <p class="two"><a class="two fs-6" href="/shopmore">SHOP NOW</a></p>
          </div>
      </div>
  </div><!--row 8 ends-->
  <br><br><br><br>
  <div class="row"><!-- row 9 starts-->
    <div class="col-md-12 text-success-emphasis" align="center">
    <p class="fs-1">Designer Clothes For You</p>
    <p class="fs-5">Immerse yourself in the world of luxury fashion with our meticulously crafted clothes!</p>
    </div>
  </div><!--row 9 ends-->
  
  <div class="row mt-2" align="center"><!--row 10 starts-->
    <div class="col-md-4">
      <img src="{% static 'asset/images/design1.jpg' %}" class="img-thumbnail" alt="...">
      <p class="text-center mt-4"><b>Cotton Silk Pyjama</b></p>
    </div>
    <div class="col-md-4">
      <img src="{% static 'asset/images/design2.jpg' %}" class="img-thumbnail" alt="...">
      <p class="text-center mt-4"><b>Pink Coat and Black Hat</b></p>
    </div>
    <div class="col-md-4">
      <img src="{% static 'asset/images/design3.jpg' %}" class="img-thumbnail" alt="...">
      <p class="text-center mt-4"><b>Vintage Formal Dress</b></p>
    </div>
  </div><!--row 10 ends-->
  <br><br><br><br>
  <div class="row"><!--row 11 starts-->
  <h1 class="text-center text-success-emphasis">Feedback Corner</h1>
  <br><br><br><br><br>
    <div class="col-md-12">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active w-100">
            <div class="three bg-success bg-opacity-50 text-success-emphasis">
              <b>Emily Watson</b>
              <p>The customer experience was exceptional from start to finish. The website is user-friendly, the checkour process is smooth, and the clothes I ordered fit perfectly. I'm beyond satisfied!</p>
            </div>
          </div>
          <div class="carousel-item w-100">
            <div class="three bg-success bg-opacity-50 text-success-emphasis">
              <b>Alexa Rome</b>
              <p>I absolutely love the quality and style of the clothing I purchased from this website, customer service was outstanding, and I received my order quickly. Highly recommended!</p>
            </div>
          </div> 
          <div class="carousel-item w-100">
            <div class="three bg-success bg-opacity-50 text-success-emphasis">
              <b>Olivia Martinez</b>
              <p>I had a greate  experience shopping on this website. The cloths are brought are fashionable and comfortable. Highly satisfied!</p>
            </div>
          </div>
          <div class="carousel-item w-100">
            <div class="three bg-success bg-opacity-50 text-success-emphasis">
              <b>Rubina Watson</b>
              <p>I completely love this site, found it on EBay at first now I just order directly through them...I am always complemented on my outfits I will be back for more...Thank you for having cute trendy clothes that fit and look good.</p>
            </div>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-success" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-success" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  </div><!--row 11 ends-->
</div>
  <br><br><br><br><br>
<div class="container">
  <div class="row bg-success bg-opacity-50 pt-3"><!--navbar starts-->
    <div class="col-md-3 text-success-emphasis">
      <h2>Social Media</h2><br>
      <a href="https://www.facebook.com/"><i class="bi bi-facebook text-success-emphasis"></i></a>
      <a href="https://www.instagram.com/accounts/login/"><i class="bi bi-instagram text-success-emphasis"></i></a>
      <a href="https://twitter.com/i/flow/login"><i class="bi bi-twitter text-success-emphasis"></i></a>
    </div>
    <div class="col-md-3 text-center text-success-emphasis">
      <a href="/home" style="text-decoration: none;"><p class="text text-success-emphasis">home</p></a>
      <a href="/about" style="text-decoration: none;"><p class="text text-success-emphasis">about</p></a>
      <a href="/shopmore" style="text-decoration: none;"><p class="text text-success-emphasis">products</p></a>
      <a href="/contact" style="text-decoration: none;"><p class="text text-success-emphasis">contacts</p></a>
      <a href="/viewcart" style="text-decoration: none;"><p class="text text-success-emphasis">cart</p></a>
    </div>
    <div class="col-md-6">
      <h1 class="text-success-emphasis">Stay Connected</h1><br>
      <form action="POST">
        <div class="mb-3">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="enter your email"> <br>
          <input type="submit" class="btn btn-success" value="submit"></input>
        </div>
      </form>
    </div>
  </div><!--navbar ends-->
</div>
<script src="{% static 'asset/js/bootstrap.min.js' %}"></script> 
</body>
</html>