{% extends 'base1.html' %}
{% load static %}
{% block 'main' %}

<div class="row text-center"><!--row 6 starts-->
    <div class="col-md-3">
      <img src="{% static 'asset/images/new arrivals/new1.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">Kaftan Kurta <br>
        Rs. 1200 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">4</i></p>
    </div>
    <div class="col-md-3">
      <img src="{% static 'asset/images/new arrivals/new2.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">Blue Long Top <br>
        Rs. 1500 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">4</i></p>
    </div>
    <div class="col-md-3">
      <img src="{% static 'asset/images/new arrivals/new3.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">Blue Formal Midi Dress <br>
        Rs. 1999 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">4</i></p>
    </div>
    <div class="col-md-3">
      <img src="{% static 'asset/images/new arrivals/new4.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">Fit Mini Dress <br>
        Rs. 1299 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">4</i></p>
    </div>
  </div><!--row 6 ends--> <br>
  <div class="row text-center"><!--row 7 starts-->
    <div class="col-md-3">
      <img src="{% static 'asset/images/new arrivals/new5.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">Indo Western Black Skirt <br>
        Rs. 2000 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">4</i></p>
    </div>
    <div class="col-md-3">
      <img src="{% static 'asset/images/new arrivals/new6.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">New Jeans Closet <br>
        Rs. 1200 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">4</i></p>
    </div>
    <div class="col-md-3">
      <img src="{% static 'asset/images/new arrivals/new7.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">Casual Wear Loose Fit Blouse <br>
        Rs. 1199 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">4</i></p>
    </div>
    <div class="col-md-3">
      <img src="{% static 'asset/images/new arrivals/new8.jpg' %}" class="img-fluid" alt="...">
      <p class="text text-success-emphasis">Round Neck Cotton Gown <br>
        Rs. 1500 &nbsp;<i style="color:darkgoldenrod" class="bi bi-star-fill">4</i></p>
    </div>
  </div><!--row 7 ends-->


{% endblock 'main' %}